body, html {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  width: 40rem;
  height: 20rem;
  display: block;
  margin-bottom: 1rem;
}

#results {
  height: 60rem;
  overflow-x: hidden;
  overflow-y: scroll;
  outline: 1px solid black;
}